@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-theme-color: #0b0b0b;
  --main-text-color: #f7f7f7;
}

/* .fullpage-wrapper::-webkit-scrollbar {
  display: none;
} */

.side-menu-close {
  left: -200vw;
  transition: all 1.3s ease-in;
}

/* 
nav {
#1a1a1a;
--main-theme-color: #535bf2; // for reference
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-theme-color);
  font-size: 2rem;
  height: 4rem;
}
*/
a {
  color: var(--main-text-color);
  text-decoration: None;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

    border-color: #646cff;
            color: #535bf2;
        background-color: #1a1a1a;
} */
